python: can't open file '__version__': [Errno 2] No such file or directory

In [1]:
import pandas as pd 
import numpy as np
import pickle
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import shap

from pycaret.regression import *

%matplotlib inline
plt.style.use('ggplot')
plt.rcParams.update({'font.size': 16})
plt.rcParams['savefig.dpi'] = 200
plt.rcParams['axes.facecolor'] = 'white'
plt.rcParams['grid.color'] = 'lightgrey'

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
pop_spotify = pd.read_pickle('data/spotify_df.pkl')

In [3]:
pop_spotify.shape

(1927392, 22)

In [4]:
# pop_spotify2 = pop_spotify[['popularity','duration_ms','explicit','danceability','energy','key','mode', 'speechiness','acousticness','instrumentalness','liveness','valence','tempo']]
pop_spotify2 = pop_spotify.sample(frac=1, random_state=786).reset_index(drop=True)
pop_spotify_samp = pop_spotify2[:350000]

In [10]:
corr_matrix = pop_spotify_samp.corr()
corr_matrix['popularity']

popularity          1.000000
duration_ms        -0.088306
explicit            0.221257
danceability        0.160501
energy             -0.038291
key                -0.002842
loudness            0.124566
mode               -0.016648
speechiness         0.089533
acousticness       -0.037630
instrumentalness   -0.148958
liveness           -0.098719
valence            -0.037981
tempo              -0.006913
time_signature      0.017958
year                0.298076
month               0.018001
Name: popularity, dtype: float64

In [5]:
reg1 = setup(data=pop_spotify_samp, target='popularity', train_size=0.80,
            ignore_features=['id','name','artists','id_artists'],
            normalize=True,
            transformation=True, transformation_method='yeo-johnson',
            transform_target=True,
            remove_outliers=True,
            remove_multicollinearity=True,
            log_experiment=True,experiment_name='spotify popularity')

In [13]:
compare_models()

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=-1, oob_score=False,
                    random_state=335, verbose=0, warm_start=False)

In [5]:
et = create_model('et')

NameError: name '_all_models_internal' is not defined

In [21]:
evaluate_model(et)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [19]:
plot_model(et, plot='vc', save=True)

'Validation Curve.png'

In [39]:
# tuned_et = tune_model(et, search_library='scikit-learn')

In [8]:
dt = create_model('dt')
rf = create_model('rf')

In [9]:
bagged_dt = ensemble_model(dt)

In [ ]:
boosted_et = ensemble_model(et, method = 'Boosting')

IntProgress(value=0, description='Processing: ', max=6)

Initiated  . . . . . . . . . . . . . . . . . .               18:51:46
Status     . . . . . . . . . . . . . . . . . .       Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Extra Trees Regressor

Empty DataFrame
Columns: [MAE, MSE, RMSE, R2, RMSLE, MAPE]
Index: []

In [8]:
final_et = finalize_model(et)

In [9]:
predict = predict_model(final_et, data=pop_spotify)

In [10]:
predict[['popularity','Label','artists','name']].sample(frac=1, random_state=786).head(100)

,popularity,Label,artists,name
79805,66,66.000000,['Leona Lewis'],Run
79412,71,71.041974,['Julieta Venegas'],Limón y Sal
83346,64,64.000000,"['Swedish House Mafia', 'Pharrell Williams']",One (Your Name) - Radio Edit
91909,79,79.000000,"['Ariana Grande', 'Social House']",boyfriend (with Social House)
81659,60,60.000000,['La Nueva Luna'],Te Vas a Arrepentir
...,...,...,...,...
83288,63,63.000000,"['Joe ""Bean"" Esposito']",You're The Best
81939,60,60.000000,['Glenn Fredly'],Terserah
75282,72,72.000000,['Nirvana'],About A Girl
79349,74,74.129860,['John Mayer'],Gravity
87900,42,45.108994,['Gigi Leung'],短髮

In [11]:
saved_final_et

NameError: name 'saved_final_et' is not defined

In [1]:
# true = predict['popularity']
# predicted = predict['Label']

# plt.figure(figsize=(15,15))
# plt.scatter(true,predicted, c='crimson')

# p1 = max(max(predicted), max(true))
# p2 = min(min(predicted), min(true))
# plt.plot([p1, p2], [p1, p2], 'b-')
# plt.xlabel('True Values')
# plt.ylabel('Predictions')
# plt.axis('equal')
# plt.show()

In [36]:
plot_model(predict, plot= 'residuals')

KeyboardInterrupt:

In [77]:
y = pop_spotify_samp.popularity
X = pop_spotify_samp.drop(['popularity'], axis=1)